<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>미션 등록</title>

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/components/missions.css">
    <link rel="stylesheet" href="/static/css/pages/mission-upload.css">

    <!-- Link to external JS -->
    <script src="/static/js/main.js" defer></script>
    <script src="/static/js/components/missions.js" defer></script>
    <script src="/static/js/pages/mission-upload.js" defer></script>

</head>
<body>
    <h2>Mission Upload Page</h2>
</body>
</html>