<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Task Trade 로그인</title>

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/components/auth.css">
    <link rel="stylesheet" href="/static/css/pages/login.css">

    <!-- Link to external JS -->
    <script src="/static/js/main.js" defer></script>
    <script src="/static/js/pages/login.js" defer></script>

</head>
<body>
    <div class="auth-container">
        <!-- 메인 페이지로 링크 -->
        <a href="/">
            <img src="/static/images/logo/task_trade_logo.jpeg" alt="Main Logo">
        </a>

        <!-- 로그인 폼 -->
        <h2 id="container-title">Task Trade 로그인 하기</h2>

        <form onsubmit="loginAccount(event)">
            <input type="email" id="userid" placeholder="ID" required><br>
            <input type="password" id="password" placeholder="비밀번호" required><br>
            <button type="submit">로그인</button>
        </form>

        <div class="text-links">
            <!-- 아이디 찾기 링크 -->
            <form id="searchId" action="/auth/search-id" method="get">
                <span class="submit-text" onclick="document.getElementById('searchId').submit()">아이디 찾기</span>
            </form>

            <div class="divider">|</div> <!-- Vertical bar -->

            <!-- 비번 찾기 링크 -->
            <form id="searchPW" action="/auth/search-pw" method="get">
                <span class="submit-text" onclick="document.getElementById('searchPW').submit()">비밀번호 찾기</span>
            </form>

            <div class="divider">|</div>

            <!-- 회원가입 링크 -->
            <form id="signupForm" action="/auth/signup" method="get">
                <span class="submit-text" onclick="document.getElementById('signupForm').submit()">회원가입</span>
            </form>
        </div>
    </div>
</body>
</html>