<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Task Trade 아이디/비번 찾기</title>

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/components/auth.css">

    <!-- Link to external JS -->
    <script src="/static/js/main.js" defer></script>
    <script src="/static/js/components/auth-search.js" defer></script>

</head>
<body>
    <div class="auth-container">
        <!-- 메인 페이지로 링크 -->
        <a href="/">
            <img src="/static/images/logo/task_trade_logo.jpeg" alt="Main Logo">
        </a>

        <!-- 아이디 찾기 링크 -->
        <form id="searchId" action="/auth/search-id" method="get">
            <button class="submit-text" onclick="document.getElementById('searchId').submit()">아이디 찾기</button>
        </form>

        <!-- 비번 찾기 링크 -->
        <form id="searchPW" action="/auth/search-pw" method="get">
            <button class="submit-text" onclick="document.getElementById('searchPW').submit()">비밀번호 찾기</button>
        </form>
    </div>
</body>
</html>
