/*
login page에만 특화된 design layout
*/

/* Links for searching id/pw, signup */
.text-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Adjust spacing between elements */
    font-size: 0.7rem; /* Adjust font size if necessary */
    margin: 5px;
}

.text-links form {
    margin: 0; /* Remove default margins */
}

.text-links .divider {
    color: #cccccc;
    margin: 0 5px; /* Spacing around the bar */
    font-weight: bold;
}

.submit-text {
    text-decoration: underline;
    color: #cccccc; /* A more visible gray */
    cursor: pointer;
    transition: color 0.2s ease, transform 0.2s ease, text-shadow 0.2s ease; /* Smooth transitions */
}

.submit-text:hover {
    cursor: pointer; /* Keep the pointer change */
    color: #e0e0e0; /* Slightly lighter gray on hover */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
    transform: scale(1.02); /* Minimal scaling for hover effect */
}
