/*
여기에 모든 html에 공통으로 사용될 디자인을 작성한다.
*, body 같은 reset, normalize styles
some global layouts
utility classes, such as :hidden, :active
*/

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
