<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Task Trade</title>

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/components/navbar.css">
    <link rel="stylesheet" href="/static/css/components/lsidebar.css">

    <!-- Link to external JS -->
    <script src="/static/js/main.js" defer></script>
    <script src="/static/js/components/navbar.js" defer></script>
    <script src="/static/js/components/lsidebar.js" defer></script>

</head>
<body>
    <h1>Task Trade</h1>
</body>
</html>